/* ESTRUTURA DO SITE */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x top;
}

#container {
	width: 750px;
	margin: 0 auto;
}

#topo {
	height: 150px;
	padding: 25px;
	background: url(../imagens/detalhe-topo.png) no-repeat top right;
	
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat  center; 
	/*nao é a melhor alternativa pois leitores de tela 
	nao terao acesso a imagense o google n vai encontrar o seu site*/
	text-indent: -3000px;
	/*ele meio que vai esconder o texto do h1 <noticiascidade>
	mas vai permitir q os leitores leem o q seria escrito na imagem
	que vc colocou */
}

/* Barra de navegacao*/

a:link, a:visited {
	color: #b10333;
	padding: 2px;
}

a:hover {
	color: #e50040;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li {
	float: left;

}

#topo li a { 
	/*float: left; /*para fins de teste*/
	font-size: 0.9em;
	display: block; /*ele colocou do tipo block*/
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none; 
	color: #fff;
	background: url(../imagens/divisor.png) no-repeat left center; 
	/*bug da vez: vc colocou dibizor e nao divisor e vc tbm nao fechou o <a> em econonimia no index.html */
}

#topo ul .primeiro a { /*o background ta dentro de li a por isso .primeiro a*/
	background: none;
} 

#topo ul a:hover {
	color: #96001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
 {
	color: #fff;
	background: #de003e;
	cursor: text;
}

/* configuração do layout das tres colunas*/
#conteudo {
	background: #f5f5f5;
	margin-top: 60px;

}

#lateral {
	width: 180px;
	margin: 0 0 20px -750px;
	/*background-color: yellow;*/
	float: left;
}

#primario {
	width: 270px;
	/*background: blue;*/
	float: left;
	margin: 0 0 20px 195px;
}

/*#tres-colunas #primario { /*tres-colunas é a id q nunca
	vai ser chamada pq ela ja é o padrao //
	width: 270px;
	background: blue;
	float: left;
	margin: 0 0 20px 195px;
} 
ELES SAO A MESMA COISA O 3COLUNAS E O PRIMARIO É SO UMA PESTÃO DE ORGANIZAÇÃO
MAS NAO ENTENDI COMO QUE ISSO NAO DÁ CONFLITO PQ SE 
EU ESCREVAR PRIMARIO LA NO BODY VAI DAR RUIM
eu entendi: o primario ele ja é definido com padrao entao
nao preciso formatar ele ... ate pq se eu tiver menos de 3
colunas eu terei de chamar essas id's um ou dois e assim o
propio primario ja sobrepoe o um e o dois */


#uma-coluna #primario {
	width: 750px;
	margin-bottom: 20px;
	margin: 0 auto;
}

#duas-colunas #primario {
	width: 555px;
}

#secundario {
	width: 270px;
	/*background-color: green;*/
	float: left;
	margin: 0 0 20px 15px;
}

/* Caixa */
.caixa {
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	margin: 10px 0;
	padding: 5px;
}
 h2 {
 	font-size: 1em;
 	background:#294c71;
 	color: #fff;
 	padding: 5px;
 }

 .caixa-conteudo {
 	background: #fff;
 	padding: 5px;
 	margin-top: 5px;
 }

 /*Formatação do menu lateral*/
 #lateral ul a{
 	font-size: 0.9em;
 	padding: 3px;
 	display: block;
 	line-height: 30px;
 	color: #000;
 	text-decoration: none;
 	border-bottom: 1px solid #f3f3f3;
 }

 #lateral ul a:hover {
 	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
 	color: #a1a1a1;
 	padding-left: 20px;
 }

/*fomatando formularios */
label {
	display: block;
	cursor: pointer;
}

input {
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
}

input.submit {
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
}

/*fomatação das imagens*/

img.imagem-principal {
	width: 98%;
	border: 3px solid #dfdfdf;
}

/*Formatando os cabeçalhos */
h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3 {
	background: #b10333;
	color: #fff;
}

.entrevista h3 {
	background: #de003e;
}

/*Formatando lista de noticias*/
#lista-noticias  li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias  li a img {
	float: left; 
	margin:5px;
}

#lista-noticias  li a {
	text-decoration: none;
}

#lista-noticias  li a h3 {
	font-size: 0.8em;
	padding: 0; 
	color: #3e7ab9;
}

#lista-noticias  li a p {
	font-size: 0.7em;
	color:#000;
}

#lista-noticias  li:hover {
	background: #eee;
	cursor: pointer;
}


/*configuracao de rodape*/

#container-rodape {
	/*clear: both; PREFIRI UTILIZAR DO SLYLE*/
	background-color: #294c71;
	padding: 20px;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}

















